.nav {
	padding: 0  20px;

}
.nav__list {
padding: 20px 0px !important;
}
.nav__item {
	
}

.nav__link {
	color:var(--light-color) !important;
}
.nav_open {
	background-color: var(--dark-color)!important;
	color: var(--light-color) !important;
	
	.nav__link {
		color: var(--light-color) !important;
		font-size: 30px !important;
	}
	
}